aggforce @ git+https://github.com/noegroup/aggforce.git
ase
e3nn==0.5.3
h5py
ipython
ipywidgets
jsonargparse[signatures]>=4.35.0
matplotlib
mdtraj
mpmath
networkx
nglview
numpy<2.0
packaging
pandas
pytorch_lightning==2.2.1
pyyaml>=6.0
requests
ruamel.yaml
scipy
scikit-learn
sympy
seaborn
torch
torch_geometric
torch_cluster
torch_optimizer<=1.5.1
tqdm
# developer tools
black[jupyter]
coverage[toml]
pytest
# by mlcg_opt_radius
ninja
# extra dependencies for mace 
opt_einsum
torch-ema
prettytable
python-hostlist
configargparse
GitPython
orjson
lmdb
# extra dependencies for allegro
matscipy
hydra-core

