version: 2.1
jobs:
  test:
    docker:
      - image: sayeg84/mlcg_python_312:v0.1
    parallelism: 6   # run tests across 6 parallel containers
    steps:
      - checkout
      - run:
          name: "Install enviroment and repo"
          command: |
            pip --version
            pip install --extra-index-url https://download.pytorch.org/whl/cpu -r env_cpu_with_hashes.in
            pip install --no-deps git+https://github.com/ACEsuit/mace.git@v0.3.13
            pip install --no-deps nequip==0.12.1 nequip-allegro==0.7.0
            pip install .
            pip install pytest-split
      - run:
          name: "Run tests"
          command: |
            if [ -n "$CIRCLE_PULL_REQUEST" ]; then
              set -e
              mkdir -p test-results
              pytest --verbose --junitxml=test-results/tests.xml --durations-path tests/.test_durations --splits=${CIRCLE_NODE_TOTAL} --group=${CIRCLE_NODE_INDEX} --splitting-algorithm least_duration
            else
              echo "Skipping integration test: not a PR"
              pytest -m "unit or continuity" --verbose --junitxml=test-results/tests.xml --durations-path tests/.test_durations --splits=${CIRCLE_NODE_TOTAL} --group=${CIRCLE_NODE_INDEX} --splitting-algorithm least_duration
            fi
          no_output_timeout: 80m
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results

workflows:
  version: 2
  build_and_test:
    jobs:
      - test
